<h2>New <%= singular_name %></h2>

<%% form_for(@<%= singular_name %>) do |f| %>
  <%%= render :partial => 'form' , :locals=>{:f => f}%>
  <ol>
    <%%= submit_tag "Add" %>
  </ol>
<%% end %>

<%%= link_to 'Back', <%= plural_name %>_path %>
